*{
    font-family: 'Handlle',cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}
.register-form{
    border-radius: 25px;
    box-shadow: 0 0 10px #000000;
}
div{
    background-color: #fff;
}
section h1{

    color: #fff;
    font: bold 38px 'Handlle',cursive;
    margin-bottom: 35px;
    text-align: center;
}
.h{
    padding: 35px 0 15px;
    border-radius: 25px 25px 0  0 ;
    margin-bottom: 35px;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
}
div input{
    margin-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: 22px;
    width: 400px;
    height: 50px;
    background-color: rgb(235, 235, 235);

}
div input::placeholder{
    color: black;
}
div .btn{
    color: white;
    font-family: '-apple-system', sans-serif;
    font-weight: bold;
    background-color: black;
    margin: 25px 0;
    transition: all 0.4s;
    opacity: 1;
}
.btn:hover{
    cursor: pointer;
    content: "";
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
}
ul{
    margin: 35px;
}